<div class="heading" data-bind="title"></div>
<div class="headline-container">
  <a href="oeu">
  	<h1 class="title" data-bind="current_headline.title | raw"></h1>
  </a>
  <div class="headline description" data-bind="current_headline.description | raw"></div>

</div>