<% content_for :title do %>My super sweet dashboard<% end %>

<div class="gridster">
  <ul>

   <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="Clock"></div>
      <i class="icon-time icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="youtube_subscribers" data-view="Number" data-title="Youtube Subscribers" style="background-color:#b31217;" data-prefix="#"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="youtube_views" data-view="Number" data-title="Youtube Views" style="background-color:#b31217;" data-prefix="#"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="NYTHome" data-view="News" data-title="NYT Home" data-interval="30" style="background-color:#9b59b6;"></div>
    </li>

     <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="techcrunch" data-view="News" data-title="Tech Crunch" data-interval="30" style="background-color:#2ecc71;"></div>
    </li>

  
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="mashable" data-view="News" data-title="Mashable" data-interval="30"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="NYTMoney" data-view="News" data-title="NYT Money" data-interval="30" style="background-color:#3498db;"></div>
    </li>

    


    <!-- <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="app_store_rating" data-view="Appstore" data-title="iOS Shooping App"></div>
    </li> -->
    
  </ul>
</div>